<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAquariusPublishService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ibr3lcraqu02.bor.doi.net/AQUARIUS/Publish/AquariusPublishService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAquariusPublishService" contract="AquariusPublishService.IAquariusPublishService" name="BasicHttpBinding_IAquariusPublishService"/>
        </client>
    </system.serviceModel>
</configuration>
